@import 'config-scss/variables';
@import 'config-scss/reset';
@import 'config-scss/rem-calc';
@import 'config-scss/btn';
@import 'config-scss/animation';

html {
	font-family: 'Roboto', sans-serif;
	background: var(--primary-color);
}

main {
	max-width: rem-calc(600);
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
}
